@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400&display=swap");

@keyframes GreenGradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpOnly {
  0% {
    transform: translateY(40%);
  }
  100% {
    transform: translateY(0);
  }
}

.hero {
  /* border: 1px solid black; */
  display: flex;
  height: 600px;
  z-index: 1;
  /* background-color: #27a770; */
  /* background-image: linear-gradient(315deg, #27a770 0%, #efefef 74%); */
  justify-content: center;
  align-items: center;

  background: linear-gradient(0deg, #ffffff, #94c973, #b1d8b7);
  background-size: 600% 600%;

  animation: GreenGradient 11s ease infinite;
}

/* .hero__background-cover {
  position: absolute;
  opacity: 0.1;
  animation: 3s ease-in-out 0s 1 slideUpOnly;
  width: 2400px;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    transparent 100%
  );
} */

.hero__container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.hero__pfp-container {
  animation: 2s ease-in-out 0s 1 slideUp;
}

.hero__pfp {
  /* border: 1px solid black; */
  width: 275px;
  border-radius: 50%;
  border: 2px solid #efefef;
  filter: drop-shadow(0 0 15px gray);
}

.hero__pfp-nohover {
  display: block;
}

.hero__pfp-hover {
  display: none;
}

.hero__pfp-container:hover > .hero__pfp-nohover {
  display: none;
}

.hero__pfp-container:hover > .hero__pfp-hover {
  display: block;
}

.hero__titleContainer {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 75px;
}

.hero__title {
  /* border: 1px solid black; */
  color: #232b2b;
  font-family: 'Poppins', sans-serif;
  font-size: 75px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  animation: 2s ease-out 0s 1 slideUp;
}

.hero__description {
  /* border: 1px solid black; */
  text-align: center;
  text-decoration: none;
  font-family: 'Trirong', serif;
  animation: 3s ease-out 0s 1 slideUp;
}

@media screen and (max-width: 990px) {
  .hero__pfp {
    width: 200px;
  }

  .hero__title {
    font-size: 35px;
  }
}

@media screen and (max-width: 768px) {
  .hero__pfp {
    width: 200px;
  }

  .hero__title {
    font-size: 35px;
  }
}

@media screen and (max-width: 550px) {
  .hero__container {
    flex-direction: column;
  }

  .hero__titleContainer {
    margin-left: 0;
    margin-top: 40px;
  }
}
