* {
  margin: 0;
  padding: 0;
}

html, body{
  overflow-x: hidden;
  }

.main {
  background-color: #ffffff;
  padding-bottom: 100px;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
